@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}
.background {
  background-image: url("./images/mountain.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;

  background-repeat: no-repeat;
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

body{
background:#111827;
color:white;
}

.background{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.container{
margin-bottom:30px;
}

.time-container{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
margin-top:30px;
}

.box{
background:#1f2937;
padding:20px;
border-radius:10px;
width:110px;
box-shadow:0 0 10px rgba(0,0,0,.3);
}

.box span{
font-size:35px;
font-weight:bold;
display:block;
margin-bottom:10px;
}

.settings{
position:fixed;
bottom:20px;
right:20px;
}

#settingIcon{
font-size:35px;
cursor:pointer;
}

.settings-content{
margin-top:15px;
display:flex;
flex-direction:column;
gap:10px;
background:white;
padding:15px;
border-radius:10px;
}

.settings-content input{
padding:10px;
font-size:16px;
}

.settings-content button{
padding:10px;
border:none;
background:#2563eb;
color:white;
font-size:16px;
cursor:pointer;
border-radius:5px;
}

.hide{
display:none;
}